/* Write CSS code here */
body
{
    text-align: center;
}
.sam
{
    text-align: start;
    display: inline;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(36, 30, 30);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 500px;
    margin-bottom: 20px;
    font-family: 'Caveat', cursive;
}
div
{
   margin-bottom: 20px; 
}
.mind
{
    margin-left: 350px;
    margin-right: 350px;
    background-color: #c66;
    padding: 20px;
    text-align: center;
    color: whitesmoke;
    border-radius: 5px;
    font-size: 32px;
    font-weight: bolder;
    font-family: 'Dosis', sans-serif;
}
.ander
{
    font-family: 'Bitter', serif;
    font-weight:500px;
    font-size:90px;
    color: rgb(46, 43, 43);
    margin-top: 0px;
    margin-bottom: 0px;
}
.para1
{
    font-size: 30px;
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 0px;
}
.hr
{
    margin-left: 350px;
    margin-right: 350px;
    background-color: #c66;
    border-color: transparent;
    height: 20px;
    border-radius: 30px;
    
}
.f1
{

    margin-left: 350px;
    margin-right: 350px;
    padding-right: 0px;
    text-align: start;
   font-weight: lighter; 
   font-family: 'Dosis', sans-serif;
}
.hr2
{
    margin-left: 350px;
    margin-right: 350px; 
}
.unorder
{
    margin-left: 350px;
    margin-right: 350px; 
    list-style: none;
}
.notes
{
    font-size: 30px;
    padding-right: 0px;
    text-align: start;
}
.word
{
    margin-right: 600px; 
    text-align: start;
    color: rgb(160, 154, 154);

}
a
{
    text-decoration: none;
    color: #444;
    font-family: 'Bitter', serif;
    font-weight: bold;
}